@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Quicksand";
}

/* Nav Bar Area*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid #e4dcdc;
}

.nav-bar h1 {
    color: white;
    background-color: rgb(0, 153, 255);
    border-radius: 50%;
    border: 1px solid rgb(0, 153, 255);
    padding: 6px;
    width: 5em;
    text-align: center;
    font-size: 2.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-bar ul {
    display: flex;
    margin-left: 1em;
    cursor: pointer;
}

.nav-bar li {
    font-size: 22px;
    padding: 1em;
    border: 1px solid transparent;
}

.nav-bar li:hover {
    border: 1px solid #e4dcdc;
}

.nav-bar a {
    color: black;
}
/* Nav Bar Area End */

.toDoList-topics {
    display: grid;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

.task-container {
    display: flex;
    border: 1px solid #e4dcdc;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    width: 64em;
}

.task-flex-one {
    display: flex;
    width: 50%;
}

.task-title {
    border: 0px;
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom: 1px solid #e4dcdc;
    width: 120%;
}

.expand-collapse-task {
    position: absolute;
    left: 94%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 1em;
    height: 1em;
    padding-bottom: 8px;
    border: 1px solid #e4dcdc;
    border-radius: 100%;
    color: transparent;
    text-shadow: 0 0 0 #e4dcdc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expand-collapse-task:hover {
    background-color: rgb(74, 183, 255);
    color: white;
    cursor: pointer;
}

.task-select {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.task-deadline {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

.task-deadline p{
    margin-right: 0.4em;
    font-size: 1.2em;
}

.task-deadline input {
    font-size: 1.2em;
    width: 8.3em;
    padding-left: 0.4em;
}

.task-dates{
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-dates p {
    margin-right: 0.4em;
    font-size: 1.2em;
}

.task-dates input {
    width: 8.3em;
    font-size: 1.2em;
    padding-left: 0.4em;
    margin-right: 0.4em;

}

.task-repeat-select {
    background-color: white;
    border: 1px solid rgb(147, 147, 147);
}

.task-repeat-select {
    font-size: 1.25em;
    padding-left: 0.6em;
}


.task-importance {
    display: flex;
    align-items: center;
    margin-left: 1.5em;
}

.task-importance p{
    margin-right: 0.4em;
    font-size: 1.2em;
}

.task-importance-select {
    background-color: white;
    font-size: 1.2em;
    border: 1px solid rgb(147, 147, 147);
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.task-select.collapse {
    display:none
}

.task-description.collapse {
    display: none;
}

.select-disable {
    display: none;
}

.task-description {
    margin-top: 1.4em;
    width: 100%;
    height: 8em;
    resize: none;
    padding: 1em;
}

.remove-task {
    font-size: 1.5em;
    color: #e4dcdc;
    position: absolute;
    cursor: pointer;
    left: 102%;
}

.remove-task::before {
    content: "\274c";
    border: 1px solid #e4dcdc;
    border-radius: 100%;
    padding: 0.4em;
    color: transparent;
    text-shadow: 0 0 0 #e4dcdc;
}

.remove-task:hover::before {
    background-color: rgb(255, 108, 108);
    text-shadow: 0 0 0 white;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.4em;
    color: #e4dcdc;
    border: 1px solid #e4dcdc;
    border-radius: 100%;
    width: 1em;
    height: 1em; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 4px;
    padding-right: 1px;
    margin-bottom: 0.5em;
}

.add-task:hover {
    background-color: rgb(74, 183, 255);
    color: white;
    cursor: pointer;
}


/* 
    color: #e4dcdc;
    border: 1px solid #e4dcdc;
    border-radius: 100%;
    width: 1em;
    height: 1em;
*/